<footer class="site-footer">


<script src="//static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">
try {
    clicky.init(100539872);
} catch (e) {}
</script>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=thomasdavis" async="async"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="/css/material/js/ripples.min.js"></script>
  <script src="/css/material/js/material.min.js"></script>
    <script src="//static.getclicky.com/js" type="text/javascript"></script>
    <script type="text/javascript">try{ clicky.init(101025715); }catch(e){}</script>
    <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101025715ns.gif" /></p></noscript>
</footer>
