---
layout: default
---
<div class="row">
  <div class="col-lg-4">
    <div class="well">
      <div style="text-align: center;">
     <img src="https://secure.gravatar.com/avatar/cff733cf90823edd218a834980379c61?s=170" class="img-circle" style=" padding:2px; border: 1px solid #ddd; width: 100px;">
      <h2>Thomas Davis</h2>
      <p>Work with Drones, Open Source, Tech Policy, Javascript and Music. </p>
      </div>
      <!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_vertical_follow_toolbox"></div>
    </div>
  </div>
  <div class="col-lg-8">
<div class="post well">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>
</div>

<div class="well">
  <!-- Go to www.addthis.com/dashboard to customize your tools -->
	<div class="addthis_jumbo_share"></div>
</div>
</div>
</div>